In [1]:
import pandas as pd

In [2]:
# save combined data to csv
df_path = r"C:\Users\Shane\Desktop\2024.06.27_-_Data_Science\2024.10.13 - Portfolio Projects\2024.12.04 - Swing Ticker\Model Performance\combined_model_rmse.csv"

In [5]:
df = pd.read_csv(df_path)

In [6]:
df.head()

  ticker   volatility    avg_price   len  rmse_standard  rmse_tuned
0  BSNLF         High     0.026089  1889       0.044261    0.031845
1    FTA   Medium-Low    38.647291  4457       8.488856    4.376875
2  JTKWY  Medium-High     9.432196  1226       0.640134    0.565840
3  FWONB   Medium-Low    46.538264  2016       6.866346    6.854367
4  VRMMQ         High  1104.577206  1173     116.538527   78.179737

In [ ]:
# quantify the improvement

df['rmse_change'] = (df.rmse_tuned - df.rmse_standard) / df.rmse_standard

In [9]:
df.head()

,ticker,volatility,avg_price,len,rmse_standard,rmse_tuned,rmse_change
0,BSNLF,High,0.026089,1889,0.044261,0.031845,-0.280514
1,FTA,Medium-Low,38.647291,4457,8.488856,4.376875,-0.484397
2,JTKWY,Medium-High,9.432196,1226,0.640134,0.565840,-0.116060
3,FWONB,Medium-Low,46.538264,2016,6.866346,6.854367,-0.001745
4,VRMMQ,High,1104.577206,1173,116.538527,78.179737,-0.329151

In [10]:
# Get an average for each volatility category

df.groupby('volatility').rmse_change.mean()

volatility
High          -0.304833
Medium-High   -0.116060
Medium-Low    -0.243071
Name: rmse_change, dtype: float64

In [12]:
len(df)

5